<div class="map-popup">
  <div class="inner-content">
     <a href='##CAPTURE_LINK##' class="heading pull-left">
     	##CAPTURE_NAME##
    	</a>
     
      <a href="/##CAPTURE_USER##" class="block-tag pull-left clear"> 
        <i class="fa fa-user icon-left"></i> 
        ##CAPTURE_USER##
      </a>

     <a href="/?location=##CAPTURE_LOCATION##" class="block-tag pull-left clear" title="Location">
       <i class="fa fa-map-marker icon-left"></i>
       ##CAPTURE_LOCATION##
     </a>

     <div class="block-tag pull-left clear" title="Date Uploaded">
       <i class="fa fa-cloud-upload icon-left"></i>
       ##CAPTURE_UPLOADED##
     </div>

     <div class="block-tag pull-left" title="Date Taken">
       <i class="fa fa-calendar-o icon-left"></i>
       ##CAPTURE_TAKEN##
     </div>
   </div>

   <div class="clear"></div>
</div>